* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #202020;
    padding: 50px;
    font-family: sans-serif;
    color: #FFF;
}
ul {
    margin-top: 50px;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    width: 320px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 20px 30px;
    border: 1px solid #444;
}
table tr td {
    line-height: 2;
}
table tr td:nth-child(1) {
     padding-right: 15px;
}